@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FiTracker</h1>
    <a asp-controller="Exercise" asp-action="Exercises" class="btn btn-primary">Exercises</a>
</div>
